    <div>
        <div >
            <div >Ticket de Compra</div>
            <div>{{user.purchase_datetime}}</div>
        </div>
        <div >
            <div>
                <span>{{user.first_name}}</span>
                <span>{{orderNumber}}</span>
            </div>
            <div >
                <span>{{total}}</span>
            </div>
        </div>
        <hr>
        <div >
            <div>¡Gracias por su compra!</div>
        </div>
    </div>